.sesion{
    margin-top: 250px;
    background-color: white;
}
.navbar{
    background-color: #a1ac9f;
}
body{
    background-image: url("../img/fondo2.jpg");
    background-size: 800px;
    background-attachment:fixed;
}
#msg_error{
    color: red;
}
#locate{
    background-color: #a1ac9f;
    position: absolute;
    padding: 10px;
    padding-bottom: 0px;
}
#publi{
    margin-bottom: 40px;
    padding: 0px;
}
#newPost{
    position: fixed;
    bottom: 10%;
    right: 2%;
}
#newPost>img{
    width: 80px;
}
.dropzone{
    height: 400px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
header{
    margin-left: 30px;
    font-weight: bold;
    font-size:larger;
}
#texto{
    font-size: larger;
}
.datos{
    display: flex;
}
.respuesta:focus{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.botones{
    display: flex;
    font-size: larger;
}
.btn-final{
    text-align: end;
}
textarea{
    resize: none;
}
#fileInput{
    display: none;
}
#info{
    margin-top: 10px;
    margin-bottom: 0px;
}
#separador{
    border-bottom: 1px solid grey;
}
.option{
    text-align: end;
}
.option>img{
    cursor: pointer;
}
.option>a{
    cursor:default;
}
.barra{
    display: flex;
    width: 100%;
}
#search{
    border-radius: 10px;
    width: 60%;
}
.buscador{
    flex-grow: 1;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #a1ac9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: slideIn 0.3s ease forwards;
  }
.dropdown-item{
    cursor:pointer;
}
.dropdown-item:hover{
    background-color: #a1ac9f;
}
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .show {
    display: block;
  }
  #publiPerfil{
    display: inline;
    padding: 0px;
  }
  #borrado{
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #a1ac9f;
}
.comentar{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: flex;
    z-index: 3;
}
.areaComment{
    background-color: white;
    position: absolute;
    bottom:0;
    height: 400px;
    width: 100%;
    border-bottom: 2px;
}
.user{
    font-weight: bold;
}
.imagenes{
    text-align: center;
}

#comentarios {
    border: 1px solid #ccc;
    background-color: #fff;
    overflow-y: auto; /* Agrega el scroll vertical */
    height: 300px;
}
.img-comment>img{
    width: 90%;
}
.img-comment{
    text-align: center;
}
.atras{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #a1ac9f;
    padding: 5px;
}
.atras>img{
    width: 40px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
    width: 100%;
  }

/* Estilos para el banner de cookies */
#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
  }

  #cookie-banner p {
    margin: 0;
    font-size: 16px;
  }

  #cookie-banner button {
    background-color: #1e88e5;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
